.prose pre > code {
  display: "grid";
  counter-reset: line;
}

.prose pre[data-theme="light"] {
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; */
  /* background-color: #f5f5f4; */
  background-color: var(--offsetcode);
  @apply border border-t-0 rounded-lg border-gray-200 py-3 px-0;
}

.prose pre[data-theme="dark"] {
  /* box-shadow: rgba(238, 238, 229, 0.1) 0px 0px 16px; */
  background-color: var(--offsetcode) !important;
  @apply border rounded-lg border-gray-800 py-3 px-0;
}
code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

/* scroll bar
.prose pre::-webkit-scrollbar {
  display: none;
} */

.light .prose pre[data-theme="dark"],
.light .prose code[data-theme="dark"],
.dark .prose pre[data-theme="light"],
.dark .prose code[data-theme="light"],
.light .prose div[data-rehype-pretty-code-title][data-theme="dark"],
.dark .prose div[data-rehype-pretty-code-title][data-theme="light"] {
  display: none;
}

/* Fenced Code block - word highlight */
.prose span[data-highlighted-chars] {
  @apply bg-green-500 bg-opacity-80 text-white rounded-md border border-b-2 !important;
}
.prose span[data-highlighted-chars][data-chars-id="s"] {
  @apply bg-red-500 bg-opacity-80 !important;
}
.prose span[data-highlighted-chars][data-chars-id="r"] {
  @apply bg-red-500 bg-opacity-80 !important;
}
.prose span[data-highlighted-chars][data-chars-id="b"] {
  @apply bg-blue-400 bg-opacity-80 !important;
}

/* Fenced Code block - with title style*/
.prose div[data-rehype-pretty-code-title][data-theme="light"] {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 border border-b-0 border-gray-200 rounded-t-lg h-auto w-auto bg-[#E6E3E1];
}
.prose div[data-rehype-pretty-code-title][data-theme="dark"] {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 border border-b-0 border-gray-800 rounded-t-lg h-auto w-auto bg-gray-900;
}
.prose div[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

/* Fenced Code block - line number style */
.prose code[data-line-numbers] {
  counter-reset: line;
}

.prose code[data-line-numbers] > span[data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 1.25rem;
  margin-left: -0.5rem;
  text-align: right;
  @apply text-slate-600 dark:text-slate-400;
}

.prose code[data-line-numbers-max-digits="2"] > span[data-line]::before {
  width: 1.25rem;
}
.prose code[data-line-numbers-max-digits="3"] > span[data-line]::before {
  width: 1.75rem;
}

/* Fenced Code block - line style */
.prose pre span[data-line] {
  @apply inline-block px-4 py-0.5 leading-snug;
}

/* Fenced Code block - line hightlight */
.prose code span[data-highlighted-line] {
  padding-left: calc(1rem - 2px);
  @apply border-l-2 border-y-0 border-transparent border-l-slate-500/70 dark:border-zinc-500/30 bg-zinc-200/70 dark:bg-zinc-800 min-w-full w-auto;
}

/*  inline code block backtick display: none */
.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
  display: none;
}

/*  inline code block style */
.prose :not(pre) > code {
  @apply border border-gray-200 dark:border-gray-700 font-mono text-sm font-normal align-middle py-0.5 px-1 rounded;
}

/* .prose {
  max-width: max-content !important;
  min-width: 65ch !important;
} */
